<loading-bar></loading-bar>

<div id="message-flow-btns">
  <fieldset>
    <label>Number of nodes in a group: </label>
    <input id="nodesInGroup" type="text" [(ngModel)]="nodesInGroup"/>

    <label *ngIf="!firstDraw">Additional filters: </label>
    <input id="inputFilter" *ngIf="!firstDraw" type="text" placeholder="new filters" [(ngModel)]="inputFilters"/>

    <button class="drawButton" (click)="drawGraph()" >Draw</button>
  </fieldset>
</div>

<div id="graphs"></div>
<div id="legendContainer" *ngIf="!legendHidden">
  <div class="borderedContainer">
    <pre>
      {{groupLegend}}
    </pre>
  </div>
</div>
