<!--The content below is only a placeholder and can be replaced.-->
<div id="root-div" style="text-align:center">
  <div>
    <label style="font-size: 48px; font-weight: bold;">Welcome to</label>
    <span style="display:inline-block; width: 10px;"></span>
    <img style="margin-bottom: -10px" width="300" alt="Angular Logo" [src]="img"> <br />
  </div>
  <br />
  <div>
    <label>Odpoved:</label>
    <span style="display:inline-block; width: 310px;"></span>
    <button (click)="onClickDruid()">Druid</button>
  </div>
  <br />
  <div>
    <textarea rows="30" cols="50">{{response}}</textarea>
  </div>
</div>
